include bemto/bemto
include mixins
- var lang = 'en'
- var googleFonts = 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700:latin|Ubuntu:300,300italic|Inconsolata:400,700'
- var stylesLink = 'css/main.css'
- var scriptsLink = 'js/main.js'