.btn {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 15px;
  font-weight: normal;
  font-family: $font-family-base;
  font-size: calc-rem(14);
  line-height: calc-lh(21,14);
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  @include text-ellipsis;
  color: $gray-more-light;
  border: none;
  outline: none;
  cursor: pointer;
  @include transition-all;


  &--primary {
    background-color: $blue-base;


    &:hover {
      color: $white;
      background-color: $blue-dark;
    }
  
    &:active {
      color: #88B6D1;
      background-color: $blue-darker;
    }
  }
  
  &--secondary {
    padding: 15px 25px;
    margin-bottom: 105px;
    font-size: calc-rem(20);
    line-height: calc-lh(24,20);
    color: $gray-light;
    text-transform: none;
    border: 1px solid $gray-light;
    background-color: transparent;
    

    &:hover {
      color: $black;
      
    }
  
    &:active {
      color: $gray-light;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }
}