.intro {
  height: 257px;
  background-image: url('../pic/bg-intro.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @include bp-medium { 
    height: 507px;
  }
}
